/* src/index.css */
@import "tailwindcss";

:root {
  --n1: 255 255 255;
  --n2: 250 250 250;
  --n3: 245 245 245;
  --n4: 240 240 240;
  --n5: 235 235 235;
  --n6: 225 225 225;
  --n7: 210 210 210;
  --n8: 190 190 190;
  --n9: 170 170 170;
  --n10: 150 150 150;
  --n11: 130 130 130;
  --n12: 110 110 110;
  --n13: 90 90 90;
  --n14: 70 70 70;
  --n15: 50 50 50;
  --n16: 30 30 30;
  --n17: 10 10 10;
}
